 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .hero_text {
     width: 100%;
     position: absolute;
     background: linear-gradient(rgba(106, 11, 3, 0.7), rgba(46, 4, 4, 0.7));
     height: 600px;
     z-index: 5526;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .hero_text h1 {
     font-size: 70px;
     color: #fff;
 }

 .hero_text p {
     margin-top: 15px;
     color: #fff;
 }

 .hero_btn {
     margin-top: 30px;
 }

 .hero_btn button {
     padding: 20px 55px;
     text-transform: uppercase;
     background-color: rgb(190, 2, 2);
     color: #fff;
     border: none;
     border-radius: 30px;
     cursor: pointer;
 }

 .hero_slide img {
     height: 600px;
     z-index: 1;
 }

  .hero_slides img {
      height: 350px;
      z-index: 1;
  }
 .hero_texts {
     height: 350px;
     width: 100%;
     position: absolute;
     background: linear-gradient(rgba(106, 11, 3, 0.7), rgba(46, 4, 4, 0.7));
     z-index: 5526;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #fff;
 }

 .hero_texts h1{
    font-size: 40px;
 }

 .our_fleet_all {
     padding: 0 7%;
     margin-top: 70px;
 }

 .fleet_title {
     text-align: center;
 }

 .fleet_title h1 {
     font-size: 45px;
     text-transform: uppercase;
     color: rgb(190, 2, 2);
 }

 .fleet_grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }

 .fleet_card img {
     width: 100%;
     height: 280px;
     object-fit: cover;
 }

 .fleet_card {
     width: 95%;
     margin-top: 50px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .fleet_details {
     padding: 0 5%;
     padding-block: 15px;
 }

 .book {
     width: 100%;
     height: 50px;
     background-color: rgb(190, 2, 2);
     margin-top: 25px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-transform: uppercase;
     color: #fff;
     letter-spacing: 5.2px;
     padding: 0 10%;
     border-radius: 30px;
 }

 .testimonial_all {
     padding: 0 7%;
     padding-block: 70px;
     background-color: #f2f3f8;
     margin-top: 70px;
 }

 .testimonial_title h1 {
     margin-bottom: 30px;
     color: rgb(190, 2, 2);
     font-size: 35px;
     text-transform: uppercase;
 }

 .testimonial_swiper {
     position: relative;
 }

 .testimonial_box {
     width: 100%;
     padding: 0 4%;
     padding-block: 30px;
 }

 .test_flex {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .stars {
     color: #ffde00;
 }

 .google img {
     width: 40px;
 }

 .test_message {
     width: 100%;
     text-align: left;
     padding-block: 10px;
 }

 .test_name {
     width: 100%;
     text-align: left;
     color: rgb(190, 2, 2);
 }

 .contact_all {
     padding: 0 7%;
     padding-block: 70px;

 }

 .contact_title h1 {
     margin-bottom: 30px;
     color: rgb(190, 2, 2);
     font-size: 35px;
     text-transform: uppercase;
 }

 .contact_grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }

 .contact_box {
     width: 95%;
     background-color: #f2f3f8;
     padding: 0 5%;
     padding-block: 50px;
 }

 .contact_box h1 {
     color: rgb(190, 2, 2);
     font-size: 35px;
     text-align: center;
 }

 .contact_box p {
     padding-top: 10px;
     text-align: center;
 }

 .contact_box a {
     color: #000;
 }

 .map {
     margin-top: 50px;
     width: 100%;
 }

 .map iframe {
     width: 100%;
     height: 500px;
 }

 @media only screen and (max-width: 1110px) {
    .hero_text{
        width: 100%;
        text-align: center;
    }
    .hero_text h1{
        font-size: 35px;
    }

    .fleet_grid, .contact_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .contact_box {
            margin-bottom: 30px;
        }
 }

  @media only screen and (max-width: 810px) {
.fleet_grid, .contact_grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .fleet_card{
        width: 100%;
    }
        .contact_box {
           width: 100%;
        }
        
  }